@import "variables", "dir-mixins", "settings", "classes", "all_6.css";

html {
  scroll-behavior: smooth;
  }

:root {
    --main: #000;
    --main-bg: #282A29;
    --main-2: #dfdfdf;
    --main-3: #f9f7f6;
    --purple: purple;
    --green-color: #95c11f;
    --wh: #fff;
    --b: #000;
    --soft-gary: #fcfaff;
    --space-gray: #F6F6F6;
}

[type="tel"], [type="url"], [type="email"], [type="number"] {
  direction: inherit;
}

.custom-btn {
  min-width: 220px;
  min-height: 45px;
  padding: 12px 10px;
  border-radius: 6px;
  line-height: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  position: relative;
  background-color: var(--main);
  box-shadow: 0 0 3px rgba(20, 36, 68, 50%);
  color: #fff;
  max-width: 100%;
  border: 1px solid var(--main);
  z-index: 1;
  @media (max-width: $screen-xs) {
    min-width: 160px;
    max-width: 100%;
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.5s linear;
    background-color: #fff !important;
    color: #1799c6 !important;
    top: 0px;
    left: 0;
    z-index: -1;
    transform: scaleX(0);
  }
  &:hover {
    color: var(--main) !important;
    &::before {
      transform: scaleX(1);
    }
  }
  &.md {
    min-width: 300px;
    padding: 10px 9px;
    min-height: 45px;
    @media (max-width: $screen-xs) {
      min-width: 100%;
    }
  }
  &.xl {
    min-width: 400px;
    @media (max-width: $screen-xs) {
      min-width: 100%;
    }
  }
  &.sm {
    min-width: 150px;
    padding: 10px 9px;
    min-height: 45px;
    font-size: 12px;
  }
  &.smm {
    min-width: 90px;
    padding: 5px;
    min-height: 35px;
    font-size: 13px;
  }
  &.lg {
    min-width: 550px;
    padding: 10px 9px;
    min-height: 45px;
    @media (max-width: $screen-xs) {
      min-width: 100%;
    }
  }
  &.red-bg {
    background-color: #EB5757;
    border-color: #EB5757;
    &:hover {
      color: #EB5757 !important;
    }
  }
  &.cancel {
    background-color: #F8F8F8;
    color: #000;
    border-color: #F8F8F8;
    // box-shadow: none;
  }

  &.logout {
    background-color: #F5E1E1;
    border-color: #F5E1E1;
    color: #EB5757;
  }

  &.order-btn {
    background-color:transparent;
    border: 1px solid var(--main);
    box-shadow: none;
    color: var(--main);
    font-weight: bold;
    &::before {
      background-color: var(--main) !important;
    }
    &:hover, &.router-link-active {
      color: #fff !important;
      background-color: var(--main) !important;
    }
  }

  &.plus {
    min-width: 36px;
    min-height: 35px;
    font-size: 24px;
    padding: 0;
  }
}

.color-wh {
  color: #fff !important;
}


.drop-lang, .dropdown-profile {
  .hint-lang {
    p, i {
      color: #000;
      @media (max-width: $screen-xs) {
         font-size: 12px;
      }
    }
    display: flex;
    align-items: center;
    .icon {
      margin-inline-end: 8px;
    }
  }
  .dropdown-menu {
    min-width: 100px;
    overflow: hidden;
    padding: 0;
    top: 8px !important;
      .dropdown-item {
        padding: 5px 8px;
        font-size: 14px;
        text-align: start;
        i {
          margin-inline-end: 8px;
          font-size: 17px;
        }
        &:not(:last-child) {
          border-bottom: 1px solid #eee;
        }
        &:hover,
        &:focus {
          background-color: #fff;
          color: #000;
        }
      }
    }
    .dropdown-toggle, .profile-hint {
      &.show {
        &::after {
          transform: rotate(180deg);
        }
      }
      &::after {
        content: "\f078";
        top: 30%;
        @include dir-right(0);
        margin-left: 0;
        font-weight: 600;
        color: #000;
        font-size: 11px;
        @include dir-margin-left(8px);
        font-family: "Font Awesome 5 Free";
        font-weight: bold;
        border: 0;
        transition: all 0.2s ease-in;
      }
    }

    &.dropdown-table {
      .dropdown-toggle {
        &.show {
          &::after {
            transform: none;
          }
        }
        &::after {
          content: "\f141";
          @include dir-margin-left(0);
          font-size: 17px;
        }
      }
      .dropdown-menu {
        min-height: fit-content;
        max-height: 200px;
        min-width: 120px;
        .dropdown-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 13px;
          margin-bottom: 4px;
          i {
            margin-inline-end: 0 !important;
            font-size: 13px;
            &.custom-icon {
              font-size: 12px;
              width: 22px;
              height: 22px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              &.edit {
                background-color: #ededed;
                color: var(--main);
              }
              &.delete {
                background-color: #f5e1e1;
                color: #eb5757;
              }
              &.details {
                background-color: hsl(0deg, 0%, 0%, 70%);
                color: #fff;
              }
            }
          }
        }
      }
    }
    &.sort-table {
      .dropdown-menu {
        min-height: fit-content;
        max-height: 200px;
      }
    }
}

.inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    .hint-header {
      font-size: 14px;
      color: var(--wh);
      @media (max-width: $screen-xs) {
         font-size: 12px;
      }
    }
    @media (max-width: 375px) {
       padding: 10px 5px;
    }
}


.nav-overlay {
  @media (max-width: 1000px) {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: #000;
    opacity: 0.5;
    transition: 0.5s;
    #{$ltr} & {
      transform: translateX(100%);
    }
    #{$rtl} & {
      transform: translateX(-100%);
    }
    @include dir-right(0);
    &.show {
      #{$ltr} & {
        transform: translateX(0);
      }
      #{$rtl} & {
        transform: translateX(0);
      }
    }
  }
}


.tab-btns {
  gap: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .nav-link {
    line-height: 30px;
    width: auto;
    min-width: 150px;
    font-size: 14px;
    &.active {
      background-color: unset;
      color: #fff;
      &::before {
        transform: scale(1);
        color: #fff;
      }
    }
  }
}

.p-dropdown-item-label {
  font-size: 14px;
}

.order-shape {
  width: 200px;
  padding: 6px 10px;
  text-align: center;
  border: 2px solid var(--main);
  color: var(--main);
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.5s linear;
    background-color: var(--main) !important;
    color: #fff !important;
    top: 0px;
    left: 0;
    z-index: -1;
    transform: scaleX(0);
  }
  &:hover {
    color: #fff !important;
    &::before {
      transform: scaleX(1);
    }
  }
  &.router-link-exact-active {
    color: #fff;
    &::before {
      transform: scale(1);
    }
  }
}

.with_cun_select {
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 2px #D9D9D9;
  border: 1px solid #dddddd;
  border-radius: 5px;
  overflow: hidden;
  .main_input, .dropdown_card {
  border: 0;
  box-shadow: none;
  border-radius: 0;
  }

  .dropdown_card {
      width: 130px;
      flex-shrink: 0;
      .p-dropdown-label {
          font-size: 12px;
          padding: 5px;
          > .d-flex {
          gap: 10px;
          }
      }
      .p-inputtext {
        font-size: 12px !important;
        &::placeholder {
          font-size: 6px !important;
        }
      }
  }

  .p-dropdown {
    padding: 0 7px;
    box-shadow: none;
    .p-dropdown-trigger {
        width: 17px;
        .p-icon {
        height: 13px;
        }
    }
  }
}

.flex-group-me {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 12px;
}

.dropdown_card {
  box-shadow: 0px 0px 2px #D9D9D9;
  border: 1px solid #dddddd;
  border-radius: 5px;
  overflow: hidden;
  .p-dropdown-label, .p-multiselect-label {
    font-size: 13px;
  }

  .p-dropdown {
    outline: 0 !important;
    box-shadow: none !important;
    width: 100%;
  }
  &::placeholder {
    font-size: 12px;
    color: #9f9f9f;
  }
}

.label {
  display: block;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #000;
  .hint-red {
    color: red;
    margin-inline-start: 3px;
  }
}

.pointer, .p-calendar {
  cursor: pointer;
}

.main_input {
  position: relative;
  width: 100%;
  height: 40px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  box-shadow: 0px 0px 2px #D9D9D9;
  font-size: 13px;
  gap: 10px;
  .sm-icon {
    font-size: 14px;
    color: var(--main);
  }
  &::placeholder {
    font-size: 12px;
    color: #9f9f9f;
  }

  &.with_icon {
    justify-content: space-between;
    input {
      width: 100%;
      &:focus {
        &::placeholder {
          color: transparent;
        }
      }
      &::placeholder {
        font-size: 12px;
        color: #9f9f9f;
      }
    }
    .icon {
      font-size: 17px;
      color: gray;
    }

    .hint-text {
      font-size: 12px;
      color: gray;
      pointer-events: none;
    }
  }
  &.search-box {
    width: 700px;
    margin: 0 auto;
    max-width: 100%;
  }
  &.main_area {
    min-height: 95px;
    resize: none;
    &::placeholder {
      font-size: 12px;
      color: #9f9f9f;
    }
    &:focus {
      &::placeholder {
        color: transparent;
      }
    }
  }
  &.nofocus {
    &::placeholder {
      color: #9f9f9f;
    }
  }
  &:read-only {
    &:focus {
      &::placeholder {
        transform: none;
        color: #c9c9c9;
      }
    }
  }
}

.custum-input-icon, .custum-input {
  &::placeholder {
    font-size: 12px;
  }
}

.p-inputtext {
  &::placeholder {
      font-size: 13px;
      color: #9f9f9f;
  }
}

input.p-inputtext.p-component {
  &:focus {
    box-shadow: none !important;
  }
}


.mr-auto {
  margin: 0 auto;
}


.del-color {
  background-color: rgba(236, 47, 47, 10%);
}

.custom-width {
  width: 550px;
  max-width: 100%;
  margin: 20px auto;
  text-align: center;
  position: relative;
  z-index: 2;
  background-color: #fff;
  padding: 30px 0;
  border-radius: 5px;
  &.lg {
    width: 800px;
  }
  &.md {
    width: 700px;
  }
  @media (max-width: $screen-xs) {
    padding: 30px 20px;
  }
}

.p-component {
  font-family: inherit;
}

.normal {
  font-weight: 500;
  font-size: 15px;
}

.main-title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #000;
  &.normal {
    font-weight: 500;
    font-size: 15px;
  }
  &.bold {
    font-weight: bold;
  }

  &.lg {
    font-size: 18px;
    @media (max-width: $screen-xs) {
      font-size: 15px;
    }
  }
  
  &.sm {
    font-size: 14px;
  }
  &.fw-500 {
    font-weight: 500;
  }
}

.head-title {
  padding: 12px 20px;
  border-bottom: 1.5px solid #f0f0f0;
  margin-bottom: 0;
  font-size: 16px;
}


.form-group {
  margin-bottom: 30px;
}

.f-password {
    display: block;
    text-align: end;
    font-size: 12px;
    color: #ababab;
    margin-bottom: 30px;
}

.new-sign {
    text-align: center;
    font-size: 14px;
    color: #000;
    margin-bottom: 10px;
    font-weight: bold;
    a, button {
      color: var(--main) !important;
      background-color: transparent;
      padding: 0;
      margin-inline-start: 3px;
    }
}

.static-btn {
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  // left: 12px;
  @include dir-right(12px);
  top: 50%;
  transform: translateY(-50%);
  color: #bfbfbf;
  font-size: 17px;
  &.with_eye {
    &::after {
        content: "";
        position: absolute;
        background-color: #000;
        width: 1px;
        height: 23px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

  }
  &.active_class {
    &::after {
      display: none;
    }
  }

  &.search-btn {
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 3px;
    background-color: var(--main);
    color: var(--wh);
  }
}


.resend-code-btn {
  background-color: transparent;
  margin: 15px auto;
}

.default-class {
  width: 100%;
  height: 100%;
}

.edit-label, .remove-btn {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 50%;
  #{$ltr} & {
    transform: translate(50%, -50%);
  }
  #{$rtl} & {
    transform: translate(-50%, -50%);
  }
  @include dir-right(0);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main);
  color: var(--wh);
  font-size: 12px;
  border-radius: 50%;
  cursor: pointer;
}

.without_label {
  .edit-label, .remove-btn {
    display: none !important;
  }
}

.custum-input-icon {
  width: 100%;
  height: 100%;
}

.check-inner {
  gap: 15px;
  margin-bottom: 20px;
  .check-text {
    color: #828282;
    font-size: 14px;
    .anchor {
      text-decoration: underline !important;
      color: #828282;
    }
  }
  .p-checkbox-box {
    border: 1px solid #dddddd;
    box-shadow: none !important;
    outline: 0 !important;
    &.p-highlight {
      background: #00a19a;
    }
  }
}

// custom radio btn
.custom-radio {
  display: flex;
  align-items: center;
  color: #747975;
  font-size: 1rem;
  line-height: 22px;
  &.custom-check {
    .mark {
      padding: 0;
      width: 20px;
      height: 20px;
      border-radius: 3px;
      border-color: #8C8C8C;
      position: relative;
      .icon {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 13px;
        left: 50%;
        color: #fff;
        display: none;
      }
      &::before {
        border-radius: 0;
      }
    }
    input:checked + .mark {
      border-color: var(--main);
      &::before {
          background-color: var(--main);
      }
      .icon {
        display: block;
      }
  }
  }
  .hint {
    font-size: 14px;
    transition: .3s;
  }

  .mark {
      width: 16px;
      height: 16px;
      @include dir-margin-right(12px);
      border-radius: 50%;
      border: 1px solid #747975;
      background-color: transparent;
      padding: 3px;
      transition: .3s;
      flex-shrink: 0;
      cursor: pointer;
      &::before {
          content: "";
          width: 100%;
          height: 100%;
          border-radius: 50%;
          display: block;
          transition: .3s;
          font-family: "Font Awesome 5 Free";
          font-weight: bold;
      }

      &.new-mark {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        transition: .3s;
        &::before {
          content: "\f00c";
          width: auto;
          height: auto;
          font-weight: 600;
          font-size: 10px;
          color: #fff;
          opacity: 0;
          transition: .3s;
        }
      }
  }
  input:checked + .mark {
      border-color: #543D8F;
      &::before {
          background-color: #543D8F;
      }
  }
  .new-mark:checked + .mark {
    background-color: #000;
    &::before {
      background-color: transparent;
      opacity: 1;
  }
  }
  input:checked ~ .hint {
    color: #000;
  }
}

.p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
  background-color: transparent;
}

.notification {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--space-gray);
  border-radius: 8px;
  margin-inline-end: 12px;
  .notif-icon {
    position: relative;
    i {
      font-size: 17px;
      color: #000;
    }
    .nof-cont {
      &::before {
        content: attr(data-number);
        position: absolute;
        width: 15px;
        height: 15px;
        background-image: linear-gradient(to bottom, #00A19A99, #543D8FE5);
        color: #fff;
        top: -5px;
        @include dir-left(-5px);
        font-size: 9px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .bell-img {
    height: 20px;
  }
}

.car-hint {
  position: absolute;
  top: 20px;
  @include dir-right(15px);
  font-size: 12px;
  color: #282A29;
  background-color: rgba(224, 148, 65, 40%);
  padding: 5px 8px;
  border-radius: 10px;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: ltr;
  @media (max-width: $screen-md) {
     @include dir-right(10px);
     max-width: 80px;
     font-size: 11px;
  }
  @media (max-width: $screen-xs) {
     background-color: var(--main);
     color: var(--wh);
     top: 10px;
     @include dir-right(10px);
  }

}

.custum_dialog_width {
  width: 500px;
  max-width: 100%;
  margin: 0 20px;
  &.without-close {
    .p-dialog-header-icons {
      display: none;
    }
  }
  .p-dialog-header-icons {
    @include dir-margin-left(auto);
  }
  @media (max-width: $screen-xs) {
    width: calc(100% - 15px);
  }
  &.md {
    width: 600px;
  }

  &.lg {
    width: 700px;
  }

  &.employee {
    .p-dialog-content {
      padding: 0;
      padding-bottom: 25px;
    }
    .p-dialog-header {
      padding-bottom: 0;
    }
    .custom-width {
      margin-top: 0;
    }

    .head-title {
      padding-top: 0;
    }

  }
}

.paginate-parent {
  .p-paginator-element {
    border-radius: 50%;
    min-width: 35px !important;
    min-height: 35px;
    height: 35px;
  }
    button.p-paginator-page.p-paginator-element.p-link.p-highlight {
      background: var(--main);
      color: var(--wh);
  }
  .p-paginator.p-component {
    gap: 7px;
  }
  span.p-paginator-pages {
    display: flex;
    gap: 7px;
    #{$ltr} & {
      flex-direction: row;
    }
    #{$rtl} & {
      flex-direction: row-reverse;
    }
  }

}


.price-bg {
  background-color: rgba(224, 148, 65, 8%) !important;
}

.main-rev {
  max-height: 267px;
  min-height: max-content;
  overflow-y: auto;
}



.section-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
  gap: 20px;
  flex-wrap: wrap;
  .custom-btn {
    margin-bottom: 0 !important;
  }
}

.p-calendar:not(.p-calendar-disabled).p-focus > .p-inputtext {
  box-shadow: none !important;
}

.input_auth {
  &.without-edit {
    width: 100px;
    height: 100px;
    border: 2px dashed var(--main);
    border-radius: 10px;
    flex-direction: column;
    font-size: 12px;
    gap: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    .default-class {
      width: 30px;
      height: 25px;
    }
    .uploaded-block {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: emoji;
      text-align: center;
      img {
        border-radius: 10px;
      }
    }

    .remove-btn {
      width: 20px;
      height: 20px;
      top: 15px;
      @include dir-right(15px);
    }


  }
}

.parent-remove {
  pointer-events: none;
  .remove-btn {
      display: none;
  }
}

.hidden-default {
  display: none;
}

.main-header {
  transition: all .8s cubic-bezier(.68,-.3,.265,1.3)
}


.main-cl {
    color: var(--main) !important;
}

.custom-pd {
  padding: 12px;
}

.location_input {
  width: 100%;
  height: 100%;
  font-size: 14px;
  cursor: pointer;
}

.p-dialog .p-dialog-header {
  padding: 10px;
}

.check-img {
  max-width: 80px;
  max-height: 80px;
  object-fit: cover;
  margin-bottom: 20px;
}


.cl-red {
  color: #F10021 !important;
}

.id_photo {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 3px;
}

.car-box .info .car-name {
  #{$ltr} & {
    text-align: start;
  }
  #{$rtl} & {
    text-align: end;
  }
}

.disabledClass {
  cursor: no-drop !important;
}

// start to style dashboard

.navbar-btn {
  background: #F6F6F6;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.auth-padding {
  @include dir-margin-left(250px);
  @media (max-width: $screen-xl) {
    @include dir-margin-left(0);
  }
  &.active {
    @include dir-margin-left(0);
  }
}

.with-pt {
  // padding-top: 20px;
  // padding-bottom: 30px;
  padding: 30px 20px;
  transition: all 0.8s cubic-bezier(0.68, -0.3, 0.265, 1.3);
}

// sidebar

.sidebar {
  width: 250px;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 1000;
  padding: 25px 0 20px;
  overflow: hidden;
  transition: all 0.8s cubic-bezier(0.68, -0.3, 0.265, 1.3);
  display: flex;
  flex-direction: column;
  @include dir-left(0);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 10%);
  &.active {
    #{$ltr} & {
      transform: translateX(-100%);
    }
    #{$rtl} & {
      transform: translateX(100%);
    }
    @media (max-width: $screen-xl) {
      #{$ltr} & {
        transform: none;
      }
      #{$rtl} & {
        transform: none;
      }
    }
  }

  @media (max-width: $screen-xl) {
    #{$ltr} & {
      transform: translateX(-100%);
    }
    #{$rtl} & {
      transform: translateX(100%);
    }
  }

  @media (max-width: $screen-xs) {
    width: 185px;
  }

  .sidebar-logo {
    display: flex;
    gap: 15px;
    text-align: start;
    margin-bottom: 25px;
    @media (max-width: $screen-xs) {
      padding: 20px 10px;
    }
    .logo {
      width: 100%;
      text-align: center;
    }
    p {
      font-size: 15px;
      @media (max-width: $screen-xs) {
        font-size: 13px;
      }
    }
    img {
      max-width: 125px;
      @media (max-width: $screen-xs) {
        max-width: 100px;
      }
    }
  }

  .links {
    flex-grow: 1;
    overflow-y: auto;
    transition: all 0.8s cubic-bezier(0.5, -0.7, 0.15, 1.55);
    background-color: #fff !important;
    padding: 0px 10px  20px;
      &::-webkit-scrollbar {
        width: 6px;
      }
      /* Track */
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 3px;
      }
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background-image: linear-gradient(to right, #000, #fff);

        border-radius: 15px;
      }
      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
      @media (max-width: $screen-xs) {
        padding: 0px 8px 15px;
      }
    .item {
      position: relative;
      padding: 5px;
      border-radius: 5px;
      transition: 0.5s all ease-in-out;
      overflow: hidden;
      cursor: pointer;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    .link {
      display: flex;
      align-items: center;
      gap: 15px;
      padding: 10px 5px;
      position: relative;
      color: #000;
      background: linear-gradient(var(--main) 0 0) var(--p, 0) / var(--p, 0) no-repeat;
      transition: .6s, background-position 0s;
      font-size: 13.5px;
      overflow: hidden;
      border-radius: 12px;
      &.active, &:hover {
        --p: 100%;
        color: #fff;
        .hint-img {
          background-color: #fff;
        }
      }
      &:not(:last-child) {
        margin-bottom: 20px;
        @media (max-width: $screen-xs) {
          margin-bottom: 10px;
        }
      }

      @media (max-width: $screen-xs) {
        padding: 8px 10px;
      }

      .hint-img {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        background: #F5F5F5;
        justify-content: center;
        border-radius: 5px;
        img {
            max-width: 35px;
            object-fit: cover;
            transition: 0.2s all ease-in-out;
            @media (max-width: $screen-xs) {
              max-width: 30px;
            }
        }
      }
    }
  }

  .colse-icon {
    position: absolute;
    top: 15px;
    @include dir-right(15px);
    width: 25px;
    height: 25px;
    background-color: var(--main);
    color: #fff;
    font-size: 17px;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    @media (max-width: $screen-xl) {
      display: flex;
    }

    @media (max-width: $screen-xs) {
      width: 20px;
      height: 20px;
      font-size: 13px;
    }
  }
  
}

.login-logo {
  max-width: 170px;
  margin-bottom: 20px;
}

.profile-hint {
  margin-inline-end: 10px;
  display: flex;
  align-items: center;
  color: #000;
}
.user-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 8px;
  margin-inline-end: 10px;
  @media (max-width: $screen-xs) {
     margin-inline-end: 8px;
  }
}

.hints {
  font-size: 11px;
  .title {
    font-size: 13px;
  }
}

.overlay-sidebar {
  @media (max-width: $screen-xl) {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 333;
    background-color: #000;
    opacity: 0.5;
    transition: 0.5s;
    #{$ltr} & {
      transform: translateX(100%);
    }
    #{$rtl} & {
      transform: translateX(-100%);
    }
    @include dir-right(0);
    &.show {
      #{$ltr} & {
        transform: translateX(0);
      }
      #{$rtl} & {
        transform: translateX(0);
      }
    }
  }
}

.transparent {
  padding: 0;
  background-color: transparent;
}

.p-icon {
  height: 12px;
}
.p-dropdown-trigger {
  width: 1rem;
}

.map_style {
  border: 1px solid #eee;
  width: 700px;
  // height: 500px;
}

.pac-container {
    z-index: 9999999;
  }
  .pac-item {
    text-align: start;
  }

  .restore-image {
    width: 100%;
    height: 220px;
    object-fit: scale-down;
  }

  .main-table {

    .p-datatable-thead > tr > th {
      background-color: var(--main);
      color: #fff;
    }

    .p-datatable-wrapper {
      border-radius: 5px;
    }

    .p-column-header-content .p-column-title {
      font-size: 14px;
    }

    .p-datatable-tbody>tr>td {
      text-align: center;
      font-size: 14px;
    }

    .p-datatable .p-sortable-column .p-sortable-column-icon {
      color: #fff;
      margin-left: 0;
      margin-inline-start: 6px;
    }
  }

  .file-name {
    display: flex;
    flex-direction: column;
    gap: 4px;
    background: #dddddd;
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: inherit;
    i {
      font-size: 20px;
    }
  }

  .parent-imgs {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 15px;
    @media (max-width: $screen-xs) {
       gap: 15px;
    }
    .form-group {
      margin-bottom: 15px;
    }
  }

  .layout-form {
    background-color: var(--wh);
    box-shadow: 0px 3px 30px #0000001A;
    border-radius: 20px;
    margin-bottom: 50px;
    padding: 45px 15px;
    &.sm-radius {
      border-radius: 10px;
      padding: 0;
      overflow: hidden;
      border: 1px solid #eee;
      text-align: start;
      margin-bottom: 0;
    }
  
    &.sm {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 25px;
      padding: 15px;
      font-size: 13px;
      color: #000;
      font-weight: bold;
      border-radius: 15px;
      border: 1px solid #DBDBDB;
    }
  
    .card-setting {
      i {
        #{$ltr} & {
          transform: scale(-1);
        }
        #{$rtl} & {
          transform: scale(1);
        }
      }
    }
    
    &.main-notfications {
      background-color: transparent;
      box-shadow: none;
    }
  }

  .datatable-image-custom {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
  }

  .table-icon {
    cursor: pointer;
    font-size: 20px;
    color: var(--main);
  }

  .car-details {
    object-fit: cover;
    border-radius: 3px;
    height: 350px;
  }
  
  .item-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    &:nth-child(odd) {
        background-color: rgb(157 157 156 / 10%);
    }
    &:nth-child(even) {
        background-color: rgb(157 157 156 / 40%);
    }
    .text {
        font-size: 13px;
        margin-bottom: 0;
    }
  }

  .slider-img {
    width: 100%;
    height: 570px;
    object-fit: cover;

    @media screen and (max-width: $screen-xs) {
      height: 300px;
    }
  }

  .with-plus-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    flex-wrap: wrap;
    gap: 10px;
  }


  .cl-red {
    color: #F10021 !important;
  }
  
  .bg-red {
    background: #F10021 !important;
  }


  .custom-date {
    padding: 0 !important;
      width: 100%;
      height: 38px;
      border-color: transparent;
      box-shadow: none !important;
      font-size: 13px;
      color: #000;
      &:focus {
        border: transparent;
      }
  }

  .search-section {
    display: flex;
    align-items: center;
    gap: 15px;
    .main_input {
      background-color: #fff;
      padding: 5px 10px;
      border-radius: 10px;
      height: 40px;
      input {
        width: 200px;
        @media (max-width: $screen-xxs) {
          width: 170px;
        }
      }
    }
  }

  .add-time-btn {
    width: 40px;
    height: 40px;
    padding: 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    &.add {
      font-size: 25px;
      background-color: #128807;
    }
    &.remove {
      background-color: #F10021;
      font-size: 15px;
    }
  }

  .big_day {
    width: 270px;
    max-width: 100%;
  }